<section class="content-header">
    <h1>
        Chỉnh sửa hóa đơn bán hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a ui-sref="salesOrders">Hóa đơn bán</a></li>
        <li class="active">Chỉnh sửa</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa hóa đơn bán hàng</h3>
        </div>
        <form class="form-horizontal" novalidate name="frmEditSalesOrder" role="form" ng-submit="UpdateSalesOrder()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Loại chứng từ</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="salesOrder.DocumentTypeID" name="DocumentTypeID" required theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Vui lòng chọn loại chứng từ">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in documentTypes | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="frmEditSalesOrder.DocumentTypeID.$invalid" class="text-danger">Vui lòng chọn loại chứng từ</span>
                        <input type="hidden" ng-model="salesOrder.DocumentTypeID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mã chứng từ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="salesOrder.DocumentID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Diễn giải chung</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" ng-model="salesOrder.Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Khách hàng</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="salesOrder.CustomerID" name="CustomerID" required theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Vui lòng chọn khách hàng">{{$select.selected.FirstName}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in humans | filter: $select.search">
                                <div ng-bind-html="item.LastName + ' ' + item.FirstName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="frmEditSalesOrder.CustomerID.$invalid" class="text-danger">Vui lòng chọn khách hàng</span>
                        <input type="hidden" ng-model="salesOrder.CustomerID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nhân viên</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="salesOrder.StaffID" name="StaffID" required theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Vui lòng chọn nhân viên mua">{{$select.selected.FirstName}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in humans | filter: $select.search">
                                <div ng-bind-html="item.LastName + ' ' + item.FirstName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="frmEditSalesOrder.StaffID.$invalid" class="text-danger">Vui lòng chọn nhân viên</span>
                        <input type="hidden" ng-model="salesOrder.StaffID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nơi bán</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="salesOrder.SalesPlace">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kho</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="salesOrder.WarehouseID" name="WarehouseID" required theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Vui lòng chọn kho hàng">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in warehouses | filter: $select.search">
                                <div ng-bind-html="item.Name| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="frmEditSalesOrder.WarehouseID.$invalid" class="text-danger">Vui lòng chọn kho hàng</span>
                        <input type="hidden" ng-model="salesOrder.WarehouseID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mã đơn hàng đối tác</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="salesOrder.PartnerOrderID">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ui-sref="salesOrders" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditSalesOrder.$invalid">Lưu</button>
            </div>
        </form>
    </div>
</section>