<section class="content-header">
    <h1>
        Thêm mới giao dịch kho
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a ui-sref="inventorytransactions">Giao dịch kho</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <form class="form-horizontal" novalidate name="frmAddInventoryTransaction" role="form" ng-submit="AddInventoryTransaction()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Thời gian cập nhật giao dịch</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" required ng-model="inventorytransaction.ModifiedDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Loại giao dịch</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="inventorytransaction.Type">
                            <option value="" selected disabled>Vui lòng chọn loại giao dịch</option>
                            <option value="true">Nhập</option>
                            <option value="false">Xuất</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hàng</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required ng-model="inventorytransaction.ItemID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Gói hàng</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="inventorytransaction.ParcelID">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chọn kho</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="inventorytransaction.WarehouseID" theme="bootstrap" style="min-width: 300px;" title="Chọn kho">
                            <ui-select-match placeholder="Vui lòng chọn kho">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in flatFolders | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <input type="hidden" ng-model="inventorytransaction.WarehouseID" />
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-2 control-label">Trạng thái</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="inventorytransaction.Status">
                            <option value="" selected disabled>Vui lòng trạng thái</option>
                            <option value="true">Trạng thái 1</option>
                            <option value="false">Trạng thái 2</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ghi chú</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-model="inventorytransaction.Note">
                    </div>
                </div>             
            </div>
            <div class="box-footer">
                <button ui-sref="inventorytransactions" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right">Lưu</button>
            </div>
        </form>
    </div>
</section>