<div class="modal fade" role="dialog" style="overflow: auto" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Chỉnh sửa chi tiết đơn mua hàng</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate name="frmEditPurchaseOrderDetail" role="form" ng-submit="UpdatePurchaseOrderDetail()">
                    <div class="box-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Chọn sản phẩm</label>
                            <div class="col-sm-4">
                                <ui-select ng-model="purchaseOrderDetail.ProductID" name="ProductID" ng-required="true" theme="bootstrap" style="min-width: 300px;" title="Chọn sản phẩm">
                                    <ui-select-match placeholder="Vui lòng chọn sản phẩm">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item.ID as item in products | filter: $select.search">
                                        <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="frmEditPurchaseOrderDetail.ProductID.$invalid" class="text-danger">Vui lòng chọn sản phẩm</span>
                                <input type="hidden" ng-model="purchaseOrderDetail.ProductID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Trạng thái</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-required="true" name="Status" ng-model="purchaseOrderDetail.Status">
                                    <option value="New">New</option>
                                    <option value="Submitted">Submitted</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Closed">Closed</option>
                                    <option value="Sourcing">Sourcing</option>
                                    <option value="Canceled">Canceled</option>
                                    <option value="Failed">Failed</option>
                                    <option value="Inbound">Inbound</option>
                                    <option value="Returned">Returned</option>
                                </select>
                                <span ng-show="frmEditPurchaseOrderDetail.Status.$invalid" class="text-danger">Vui lòng chọn trạng thái</span>
                            </div>
                            <label class="col-sm-2 control-label">Giá mua</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-required="true" name="Price" ng-model="purchaseOrderDetail.PurchasingPrice">
                                <span ng-show="frmEditPurchaseOrderDetail.Price.$invalid" class="text-danger">Vui lòng nhập giá mua</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Giảm giá (%)</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.DiscountPercent">
                            </div>
                            <label class="col-sm-2 control-label">Khoản giảm giá</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.DiscountAmount">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lý do giảm</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="purchaseOrderDetail.DiscountReason">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Phí shipping NCC trả</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.ShippingFeeDistributor">
                            </div>
                            <label class="col-sm-2 control-label">Phí shipping NBH trả</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.ShippingFee">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Tổng tiền đền bù</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.Subsidize">
                            </div>
                            <label class="col-sm-2 control-label">Tổng thực trả</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.UnitCost">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Tình trạng thanh toán</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-required="true" name="StatusPayment" ng-model="purchaseOrderDetail.StatusPayment"
                                    ng-options="o.v as o.n for o in [{ n: 'Not', v: false }, { n: 'Done', v: true }]">
                                </select>
                                <span ng-show="frmEditPurchaseOrderDetail.StatusPayment.$invalid" class="text-danger">Vui lòng chọn tình trạng thanh toán</span>
                            </div>
                            <label class="col-sm-2 control-label">Phiếu chi thanh toán</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="purchaseOrderDetail.DocumentNo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Phương thức thanh toán</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-required="true" name="PaymentMethod" ng-model="purchaseOrderDetail.PaymentMethod"
                                        ng-options="o.v as o.n for o in [{ n: 'Chuyển khoản', v: false }, { n: 'Tiền mặt', v: true }]">
                                </select>
                                <span ng-show="frmEditPurchaseOrderDetail.PaymentMethod.$invalid" class="text-danger">Vui lòng chọn phương thức thanh toán</span>
                            </div>
                            <label class="col-sm-2 control-label">Thời gian tạo</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.CreatedDate" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Thời gian cập nhật</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.UpdatedDate" disabled>
                            </div>
                            <label class="col-sm-2 control-label">Thời gian giao cho đơn vị vận chuyển</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.ShippingTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Thời gian hủy đơn</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.CanceledTime">
                            </div>
                            <label class="col-sm-2 control-label">Thời gian vận chuyển dự kiến</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.DeliveriedETA">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Thời gian vận chuyển</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.DeliveriedTime">
                            </div>
                            <label class="col-sm-2 control-label">Thời gian rớt đơn</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.FailedTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Thời gian thanh toán</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="purchaseOrderDetail.PaidTime">
                            </div>
                            <label class="col-sm-2 control-label">Mã kiện hàng giao đi</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="purchaseOrderDetail.ShippingParcel">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditPurchaseOrderDetail.$invalid">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>