<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TOJITOJI</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/admin/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/Assets/admin/css/skins/_all-skins.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="tojitojishop">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Assets/admin/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fab fa-pied-piper"></i> <span>Account</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="accounts"><i class="far fa-circle"></i> Danh sách </a></li>
                            <li><a href="#"><i class="far fa-circle"></i> Edit </a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div ui-view></div>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
        
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Assets/admin/libs/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/Assets/admin/libs/chart.js/dist/Chart.js"></script>
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/js/adminlte.min.js"></script>
    <script src="~/Assets/admin/js/demo.js"></script>
    <!-- Begin embed angularJS -->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- xxxxxxxxxxxxxxxx -->
    <script src="~/app/shared/modules/tojitojiShop.common.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <!-- xxxxxxxxxxxxxxxx -->    
    <script src="~/app/components/accounts/accounts.module.js"></script>
    <!-- xxxxxxxxxxxxxxxx -->
    <script src="~/app/app.js"></script>
    <!-- xxxxxxxxxxxxxxxx -->
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/accounts/accountListController.js"></script>
</body>
</html>