<section class="content-header">
    <h1>
        Campaign
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li class="active">Campaign</li>
    </ol>
</section>
<section class="content" style="display: flex">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách Campaign SKU</h3>
                <div class="box-tools" style="display:flex">
                    <button class="btn btn-success" style="margin-right: 5px" ui-sref="add_campaign_sku"><i class="fas fa-plus-square"></i></button>
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="keyword">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã campaign</th>
                            <th>Mã SKU</th>
                            <th>Giá</th>
                            <th></th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in campaignsku">
                            <td>{{item.ID}}</td>
                            <td>{{item.SKUID}}</td>
                            <td>{{item.Price}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" ui-sref="edit_campaign_sku({id:item.ID})"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteCampaignSku(item.ID)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"><span class="pull-right">Trang: {{pageSku+1}} - Tổng số bản ghi: {{totalCountSku}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <pager-directive class="pull-right" page="{{pageSku}}" custom-path="{{customPath}}" pages-count="{{pagesCountSku}}" total-count="{{totalCountSku}}" search-func="getCampaignSKU(page)"></pager-directive>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div id="preloader">
                        <div id="loader"></div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>    
    <!--Table 2-->
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách Campaign</h3>
                <div class="box-tools" style="display:flex">
                    <button class="btn btn-success" style="margin-right: 5px" ui-sref="add_campaign"><i class="fas fa-plus-square"></i></button>
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="keyword">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã campaign</th>
                            <th>Tên campaign</th>
                            <th>Từ</th>
                            <th>Đến</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in campaign">
                            <td>{{item.CampaignID}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.FromTime}}</td>
                            <td>{{item.ToTime}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" ui-sref="edit_campaign({id:item.CampaignID})"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteCampaign(item.CampaignID)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <pager-directive class="pull-right" page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getCampaign(page)"></pager-directive>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div id="preloader">
                        <div id="loader"></div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>
    
</section>