<section class="content-header">
    <h1>
        Chỉnh sửa loại tài sản
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a ui-sref="loaiTaiSans">Loại tài sản</a></li>
        <li class="active">Chỉnh sửa</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa loại tài sản: {{loaiTaiSan.Name}}</h3>
        </div>
        <form class="form-horizontal" novalidate name="frmEditLoaiTaiSan" role="form" ng-submit="AddLoaiTaiSan()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên loại tài sản</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Name" ng-model="loaiTaiSan.Name">
                        <span ng-show="frmEditLoaiTaiSan.Name.$invalid" class="text-danger">Vui lòng nhập tên loại tài sản</span>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ui-sref="loaiTaiSans" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditLoaiTaiSan.$invalid">Lưu</button>
            </div>
        </form>
    </div>
</section>