<section class="content-header">
    <h1>
        Cơ sở kinh doanh
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li class="active">Cơ sở kinh doanh</li>
    </ol>
</section>
<section class="content" style="display: flex">
    <div class="col-xs-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách cơ sở kinh doanh</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã nơi bán</th>
                            <th>Nơi bán 1</th>
                            <th>Nơi bán 2</th>
                            <th>Nơi bán 3</th>
                            <th>Nơi bán 4</th>
                            <th>Tình trạng</th>
                            <th>Chú ý</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Lazada</td>
                            <td>Hoàng Bảo Computer</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Lazada</td>
                            <td>Will Mart</td>
                            <td>Active</td>
                            <td>EL, HL</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Lazada</td>
                            <td>ADS Mart</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Lazada</td>
                            <td>Wiliam</td>
                            <td>Inactive</td>
                            <td>FS</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Tiki</td>
                            <td>Hozza Shop</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Adayroi</td>
                            <td>Hozza Shop</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Sendo</td>
                            <td>Will Mart</td>
                            <td>Active</td>
                            <td>HL, FMCG</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Lazada</td>
                            <td>Phi Phi Fashion</td>
                            <td>Active</td>
                            <td>HL, FMCG</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Sendo</td>
                            <td>SIEUTHI_ONLINE</td>
                            <td>Active</td>
                            <td>HL, FMCG</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Sendo</td>
                            <td>BACHHOAMINI</td>
                            <td>Active</td>
                            <td>HL, FMCG</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Sendo</td>
                            <td>Hozza Shop</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Online</td>
                            <td>TMĐT</td>
                            <td>Shopee</td>
                            <td>Hoàng Bảo Computer</td>
                            <td>Active</td>
                            <td>EL</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Offline</td>
                            <td>Cửa hàng</td>
                            <td>158D79</td>
                            <td></td>
                            <td>Active</td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>