<section class="content-header">
    <h1>
        Loại đối tượng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a href="#">Đối tượng</a></li>
        <li class="active">Loại đối tượng</li>
    </ol>
</section>
<section class="content" style="display: flex">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-md-6">
                    <h3 class="box-title">Danh sách loại đối tượng</h3>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ui-sref="add_humanTypes"><i class="fas fa-plus-square"></i></button>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Loại đối tượng</th>
                            <th>Mã đối tượng cha</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in humanType">
                            <td>{{item.ID}}</td>
                            <td>{{item.Type}}</td>
                            <td>{{item.ParentID}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" ui-sref="edit_humanTypes({id:item.ID})" ng-click="$event.stopPropagation();"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteHumanType(item.ID); $event.stopPropagation();"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <pager-directive class="pull-right" page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getHumanType(page)"></pager-directive>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div id="preloader">
                        <div id="loader"></div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>