<section class="content-header">
    <h1>
        Thêm mới loại đối tượng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a ui-sref="humanTypes">Loại đối tượng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <form class="form-horizontal" novalidate name="frmAddHumanType" role="form" ng-submit="AddHumanType()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Type1" ng-model="humanType.Type_1">
                        <span ng-show="frmAddHumanType.Type1.$invalid" class="text-danger">Vui lòng nhập loại đối tượng</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="humanType.Type_2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type 3</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="humanType.Type_3">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ui-sref="humanTypes" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmAddHumanType.$invalid">Lưu</button>
            </div>
        </form>
    </div>
</section>