<section class="content-header">
    <h1>
        Chỉnh sửa danh mục
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home </a></li>
        <li><a ui-sref="categories">Danh mục sản phẩm</a></li>
        <li class="active">Chỉnh sửa</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa danh mục: {{category.Name_1}}</h3>
        </div>
        <form class="form-horizontal" novalidate name="frmEditCategory" role="form" ng-submit="UpdateCategory()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="Code" ng-model="category.Code">
                        <span ng-show="frmEditCategory.Code.$invalid" class="text-danger">Vui lòng nhập mã Code</span>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Categories</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Categories" ng-model="category.Categories">
                        <span ng-show="frmEditCategory.Categories.$invalid" class="text-danger">Vui lòng nhập Categories</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="Type" ng-model="category.Categories_Type">
                        <span ng-show="frmEditCategory.Type.$invalid" class="text-danger">Vui lòng nhập mã Type</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Macro</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Macro" ng-model="category.MacroCategories">
                        <span ng-show="frmEditCategory.Macro.$invalid" class="text-danger">Vui lòng nhập Macro Category</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Name1" ng-model="category.Name_1">
                        <span ng-show="frmEditCategory.Name1.$invalid" class="text-danger">Vui lòng nhập Category</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Name_2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 3</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Name_3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 4</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Name_4">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 5</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Name_5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category 6</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.Name_6">                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="NameEn1" ng-model="category.NameEn_1">
                        <span ng-show="frmEditCategory.NameEn1.$invalid" class="text-danger">Vui lòng nhập Category</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.NameEn_2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 3</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.NameEn_3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 4</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.NameEn_4">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 5</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.NameEn_5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category En 6</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="category.NameEn_6">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ui-sref="categories" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditCategory.$invalid">Lưu</button>
            </div>
        </form>
    </div>
</section>